.background-dos{
    background-color: #1a1a1a;
}

.foto-dos{
    border-radius: 25px;
    width: 70%;
}
.texto{
    text-align: left;
}
.texto-dos{
    margin-top: 60px;

}
.texto-tres{
    margin-top: 50px;

}

.botones{
    margin-right: 20px;
}
.about-tamano{
    width: 20%;
}